version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=src/mobile_payment_app/app.py
    volumes:
      - ./src:/app/src
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: mobile_payment_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: